body {
  font-family: sans-serif;
  background-image: url('star-background.png');
  margin: 0;
}

/* CSS for NavBar */
#nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  height: 175px;
  border-bottom: 1px solid rgb(187, 187, 187, 0.6);
}

#logo {
  margin: 0;
  padding: 12px 0 10px 0;
}

#nav-container nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#link-container {
  display: flex;
  align-items: center;
  background-color: rgba(45, 45, 45, 0.824);
  border: 2px solid rgb(187, 187, 187);
}

.nav-link {
  color: white;
  font-size: 1.25rem;
  margin: 0 auto;
  align-self: stretch;
  padding: 0.85rem 0;
  width: 100px;
  display: flex;
  justify-content: center;
  border-right: 1px solid rgb(187, 187, 187);
}

.nav-link:hover {
  background-color: rgba(89, 89, 89, 0.728);
}

#nav-break {
  border: 0px solid black;
}

/* cart icon */
.icon-container {
  height: 100%;
  width: 100px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container:hover {
  background-color: rgba(89, 89, 89, 0.728);
}

#icon {
  height: 2em;
  width: 2em;
  z-index: 1;
  position: relative;
}

#badge {
  z-index: 9999;
  position: absolute;
  height: 1em;
  width: 1em;
  bottom: 10px;
  right: 30px;
  background: red;
  border-radius: 50%;
  color: white;
  text-align: center;
}
/* ------------------ */

#routes-container {
  background-color: #eaf5ffb8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}

.align-left {
  align-self: flex-start;
}

/* CSS for user home */
#user-home-container {
  width: 90%;
}

/* CSS for all products view */
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-left: 120px; */
  margin-top: 20px;
}

#welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#generate-welcome {
  background-color: seagreen;
  margin-left: 25px;
}

.single-product {
  background-color: white;
  padding: 5px;
  margin: 5px;
}

.single-product:hover {
  box-shadow: 0 0 0 2px #23d959;
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}

.product-name {
  color: black;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin-bottom: 0px;
  margin-top: 3px;
}
.price {
  margin-top: 2px;
  color: black;
  font-weight: 500;
}
.add-product-container {
  display: flex;
  flex-direction: row;
  width: 90%;
}
#add-a-product {
  align-self: flex-start;
}
.form-container {
  margin-left: 30px;
}
.form-container h3 {
  margin-top: 0px;
}
/* ------------------ */

/* CSS for single products view */
.single-product-view-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  margin: 40px;
  padding: 10px;
}

.add-to-cart-btn {
  background-color: rgba(45, 45, 45, 0.824);
  border: 2px solid white;
  color: white;
  width: 200px;
  height: 50px;
  font-weight: bold;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: rgba(89, 89, 89, 0.728);
}

/* ------------------ */

/* CSS for cart view */

#cart-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-cart-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-self: center;
  justify-content: space-evenly;
  padding: 20px 40px;
  width: 90%;
}

#cart-items-container {
  width: 100%;
}

#cart-info {
  width: 250px;
  padding-top: 10px;
  margin-top: 30px;
  margin-left: 20px;
  align-self: flex-start;
}

#checkout-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#start-checkout-button {
  background-color: seagreen;
  align-self: center;
}

#content-container {
  padding-top: 0;
}

.subtotal-container {
  display: flex;
  justify-content: space-between;
}

.subtotal-container h3 {
  margin-bottom: 0;
}

.subtotal-container p {
  margin-bottom: 0;
}

.indv-cart-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

.product-info {
  width: 100%;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.product-image {
  flex: 0 0 auto;
  width: 400px;
  height: 400px;
}

.qtyForm {
  display: flex;
  flex-direction: column;
  width: 200px;
  /* align-self: center; */
}

.edit-qty-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.edit-qty-top-row input {
  width: 25%;
  text-align: center;
}

#update-qty-button {
  background-color: seagreen;
}

#update-qty-button:hover {
  background-color: rgba(50, 140, 89, 0.6);
}

/* ------------------------------------------------------ */

/* Checkout Function Styles */

#checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1 1 auto;
  height: 178px;
  margin: 0;
  padding: 0 25px;
}

#checkout-container label {
  width: 80%;
  max-width: 450px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pay-button {
  color: seagreen;
  border-color: seagreen;
  margin-right: 2px;
}

#pay-button:hover {
  background-color: rgba(50, 140, 89, 0.105);
}

#cancel-button {
  margin-left: 2px;
}

/* ------------------------------------------------------ */
.wider-container {
  width: 900px;
}

.product-image {
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#edit-a-product {
  align-self: flex-start;
}

/* Auth forms --------------- */
#auth-container {
  width: 18rem;
  height: 18rem;
  margin: 5rem;
  background-color: white;
  box-shadow: 5px 5px 5px gray;
  border-radius: 1%;
}

.form-component {
  width: 90%;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.same-width {
  width: 100%;
  height: 1.5rem;
}

.auth-button {
  height: 2.5rem;
  background-color: seagreen;
  border: seagreen;
  color: white;
}

.auth-button:hover {
  border-color: 1px white;
  box-shadow: 2px 2px 5px gray;
}

#google-link:link {
  color: white;
}

#google-link:visited {
  color: white;
}

hr.solid {
  border-top: 1px solid gray;
}

/* Mobile Responsiveness */

@media only screen and (max-width: 600px) {
  #logo {
    width: 95vw;
  }
  .nav-link {
    width: 80px;
  }
  .icon-container {
    width: 80px;
  }
  #nav-container {
    height: 148px;
  }
}

@media only screen and (max-width: 725px) {
  .single-product-view-container {
    flex-direction: column;
  }
  .product-image {
    width: 250px;
    height: 250px;
  }
  .single-product-view-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .indv-cart-item {
    flex-direction: column;
  }
  .indv-cart-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .indv-cart-item h3 {
    margin: 5px 0px 5px 0px;
  }
  .indv-cart-item p {
    margin: 5px 0px 5px 0px;
  }
}

/* iPad Pro Responsiveness */

@media only screen and (max-width: 1030px) {
  #routes-container {
    width: 95vw;
  }
}

@media only screen and (max-width: 1250px) {
  #main-cart-container {
    flex-direction: column-reverse;
  }
  #cart-info {
    margin-top: 0;
    align-self: center;
  }
}
