body {
  font-family: sans-serif;
  background-image: url('star-background.png');
  margin: 0;
}

/* CSS for NavBar */
#nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  height: 175px;
  border-bottom: 1px solid rgb(187, 187, 187, 0.6);
}

#logo {
  margin: 0;
  padding: 12px 0 10px 0;
}

#nav-container nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#link-container {
  display: flex;
  align-items: center;
  background-color: rgba(45, 45, 45, 0.824);
  border: 2px solid rgb(187, 187, 187);
}

.nav-link {
  color: white;
  font-size: 1.25rem;
  margin: 0 auto;
  align-self: stretch;
  padding: 0.85rem 0;
  width: 100px;
  display: flex;
  justify-content: center;
  border-right: 1px solid rgb(187, 187, 187);
}

.nav-link:hover {
  background-color: rgba(89, 89, 89, 0.728);
}

#nav-break {
  border: 0px solid black;
}

/* cart icon */
.icon-container {
  height: 100%;
  width: 100px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container:hover {
  background-color: rgba(89, 89, 89, 0.728);
}

#icon {
  height: 2em;
  width: 2em;
  z-index: 1;
  position: relative;
}

#badge {
  z-index: 9999;
  position: absolute;
  height: 1em;
  width: 1em;
  bottom: 10px;
  right: 30px;
  background: red;
  border-radius: 50%;
  color: white;
  text-align: center;
}
/* ------------------ */

#routes-container {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
  margin: 0 auto;
}

.align-left {
  align-self: flex-start;
}

/* CSS for user home */
#welcome-msg {
  margin-left: 4vw;
}

/* CSS for all products view */
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  /* margin-left: 120px; */
  margin-top: 20px;
}

.single-product {
  /* border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: black; */
  background-color: white;
  padding: 5px;
  margin: 5px;
}

.single-product:hover {
  box-shadow: 0 0 0 2px #23d959;
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}

.product-name {
  color: black;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin-bottom: 0px;
  margin-top: 3px;
}
.price {
  margin-top: 2px;
  color: black;
  font-weight: 500;
}
.add-product-container {
  display: flex;
  flex-direction: row;
  width: 500px;
}
#add-a-product {
  align-self: flex-start;
}
.form-container {
  margin-left: 30px;
}
.form-container h3 {
  margin-top: 0px;
}
/* ------------------ */

/* CSS for single products view */
.single-product-view-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  width: 700px;
  margin: 40px;
  background-color: rgba(232, 240, 242, 0.6);
  border: 3px solid gray;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: -6px 9px 8px 2px rgba(0, 0, 0, 0.65);
  box-shadow: -6px 9px 8px 2px rgba(0, 0, 0, 0.65);
}
/* ------------------ */

/* CSS for cart view */
#main-cart-container {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: space-between;
  width: 1000px;
  margin: 40px;
}

.cart-item-container-on-cart-view {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  width: 700px;
  margin: 40px;
  background-color: rgba(232, 240, 242, 0.6);
  border: 3px solid gray;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: -6px 9px 8px 2px rgba(0, 0, 0, 0.65);
  box-shadow: -6px 9px 8px 2px rgba(0, 0, 0, 0.65);
}

.indv-cart-item {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  width: 700px;
  margin: 30px;
}

#total-container {
  background-color: rgb(238, 225, 211);
  height: 150px;
  width: 200px;
  border-style: hidden;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 30px;
}
/* ----- */

.wider-container {
  width: 900px;
}

.product-image {
  border-radius: 10px;
  margin: 0 10px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#edit-a-product {
  align-self: flex-start;
}
